@{
    ViewData["Title"] = "Overtime";
    Layout = "DashboardLayout";
}

<form id="Overtime" onsubmit="Insert()" class="needs-validation" novalidate>

    <div class="form-row">

        @*Input Birthdate*@
        <div class="form-group col-md-12">
            <label for="Birthdate">Overtime Date</label></br>
            <input type="date" id="Birthdate" />
            <div class="invalid-feedback">
                Insert Overtime Date
            </div>
        </div>
    </div>

     <div class="form-row">
        @*Input First Name*@
        <div class="form-group col-md-4">
            <label for="FirstName">Start Time</label>
            <input type="text" class="form-control" id="FirstName" placeholder="First Name" required>
            <div class="invalid-feedback">
                Insert Start Time
            </div>
        </div>
        @*Input First Name*@
        <div class="form-group col-md-4">
            <label for="FirstName">Finish Time</label>
            <input type="text" class="form-control" id="FirstName" placeholder="First Name" required>
            <div class="invalid-feedback">
                Insert Start Time
            </div>
        </div>
        @*Input First Name*@
        <div class="form-group col-md-4">
            <label for="FirstName"> Description</label>
            <input type="text" class="form-control" id="FirstName" placeholder="First Name" required>
            <div class="invalid-feedback">
                Insert Start Time
            </div>
        </div>
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
