@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Overtime List";
    ViewData["Section"] = "Overtime List";
    Layout = "DashboardLayout";
}

<table id="OvertimeList" class="table table-light table-striped table-bordered border-light" style="margin-top: 50px;">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Jabatan</th>
            <th scope="col">Date Request</th>
            <th scope="col">Date Overtime</th>
            <th scope="col">Status</th>
            <th scope="col">Paid Overtime</th>
            
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="modal fade bd-example-modal-lg" id="modalDetailOvertime" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-lg modal-side modal-bottom-right modal-notify modal-info modal-dialog-centered" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading">Overtime Details</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
          <table id="DetailActivity" class="table table-light table-striped table-bordered border-light" style="">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Description</th>
           
        </tr>
    </thead>
    <tbody id="activityList">
    </tbody>
</table>
        
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


@*<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>*@

<input type="hidden" id="nip" value="@Context.Session.GetString("NIP")" />