@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "RequestOvertime";
    ViewData["Section"] = "RequestOvertime";
    Layout = "RequestOvertimeLayout";
}

    @*<form id="Overtime" onsubmit="RequestOvertime()" class="needs-validation" novalidate>

        <div class="form-row">

        Input Birthdate
        <div class="form-group col-md-12">
        <label for="Overtime Date">Overtime Date</label></br>
        <input type="date" id="RequestDate" />
        <div class="invalid-feedback">
        Insert Overtime Date
        </div>
        </div>
        </div>

        <div class="form-row">
        Input First Name
        <div class="form-group col-md-4">
        <label for="FirstName">Start Time</label>
        <input type="time" class="form-control" id="StartTime" placeholder="First Name" required>
        <div class="invalid-feedback">
        Insert Start Time
        </div>
        </div>

        Input First Name
        <div class="form-group col-md-4">
        <label for="FirstName">Finish Time</label>
        <input type="Time" class="form-control" id="FinishTime" placeholder="First Name" required>
        <div class="invalid-feedback">
        Insert Start Time
        </div>
        </div>

        Input First Name
        <div class="form-group col-md-4">
        <label for="FirstName"> Description</label>
        <input type="text" class="form-control" id="Description" placeholder="First Name" required>
        <div class="invalid-feedback">
        Insert Start Time
        </div>
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>*@

<style>
    .form-group-material { 
        position: relative;
        margin-bottom: 0px !important;
    }
</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<form id="Overtime" onsubmit="RequestOvertime()" class="needs-validation" novalidate>
    <div class="form-row">
        <div class="form-group col-md-12">
        <label for="Overtime Date">Overtime Date</label></br>
        <input type="date" id="RequestDate" />
        <div class="invalid-feedback">
        Insert Overtime Date
        </div>
        </div>
        </div>
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="PostAddMore" class="text-left form-validate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <br />
                            <div class="col-sm-12">
                                @Html.Partial("AddMorePartialView")
                            </div>
                            <div id="addAddMoreDiv"></div>
                            <a id="add_row" class="btn btn-primary float-right"> Add Row</a>
                            <br />
                            <br />
                            <input type="submit" class="btn btn-primary float-left" value="Save" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>
@section Scripts {
    <script>
      $('#add_row').on('click', function () {
        $.ajax({
            url: '@Url.Action("AddMorePartialView", "Dashboard")',
            type: 'GET',
            data: {
            },
            success: function (result) {
                $('#addAddMoreDiv').append(result);
            },
            error: function () {
            }
        });
    });
    </script>
}
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



<input type="hidden" id="nip" value="" />

<input type="hidden" id="email" value="@Context.Session.GetString("Email")" />

@*<script>
    const token = '@Context.Session.GetString("JWToken")';

    </script>*@
